#isCurrentlyRechecking .percentage {
     -fx-fill: transparent;
}

#isCurrentlyRechecking .progress {
    -fx-progress-color: blue;
}

#clearTextField {
    -fx-background-radius: 5em;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
}

#changesAlert {
    -fx-background-radius: 5em;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
}

#isCurrentlyRechecking {

}

.root{
    -fx-font-size: 12px;
    -fx-font-family: "Times New Roman";
}

.tooltip {
    -fx-background-color: #E8E8E8;
    -fx-text-fill: black;
    -fx-background-radius: 6 6 6 6;
    -fx-padding: 0.2em 0.5em 0.2em 0.5em;
    -fx-font-family: "Helvetica";
    -fx-font-size: .92em;
    -fx-font-weight: bold;
}