#isCurrentlyRechecking .percentage {
     -fx-fill: transparent;
}

#isCurrentlyRechecking .progress {
    -fx-progress-color: blue;
}

#clearTextField {
    -fx-background-radius: 5em;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
}

#toggleMenu {
    -fx-background-radius: .1em;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
}

#settings {
	//-fx-content-display: graphic-only;
    //-fx-background-color: #cccccc;
	-fx-background-radius: .6em;
    -fx-min-width: 23px;
    -fx-min-height: 23px;
    -fx-max-width: 23px;
    -fx-max-height: 23px;
	//-fx-graphic: url("../image/UI/cog_icon&48.png");
}

#userComboBox {
  -fx-background-color: transparent;
}

#userComboBox .arrow {
  -fx-background-color: transparent;
}

#changesAlert {
    -fx-background-radius: 5em;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
}

.root{
    -fx-font-size: 12px;
    -fx-font-family: "Times New Roman";
}

.tooltip {
    -fx-background-color: #E8E8E8;
    -fx-text-fill: #696969;
    -fx-background-radius: 6 6 6 6;
    -fx-padding: 0.2em 0.5em 0.2em 0.5em;
    -fx-font-family: "Helvetica";
    -fx-font-size: .92em;
    -fx-font-weight: bold;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
